<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>BasicUserTest.AISimulatorAnomalySendingForCorrectResultTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>basicUserLoginMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>anomalyCorrectResult</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>threatVerifyFromDB</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>succesfullySendAnomaly</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
